{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-12">
    <div class="card">
      <table class="table table-hover attr-table">
        <thead>
          <tr>
            <th>Action</th>
            <th>Platform</th>
            <th>Name Pattern</th>
            <th>LibreNMS Type</th>
            <th>LibreNMS Speed (Kbps)</th>
            <th>NetBox Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ object.get_action_display }}</td>
            <td>{% if object.platform %}{{ object.platform|linkify }}{% else %}All platforms{% endif %}</td>
            <td>{% if object.name_pattern %}<code>{{ object.name_pattern }}</code>{% else %}{{ ""|placeholder }}{% endif %}</td>
            <td>{{ object.librenms_type|placeholder }}</td>
            <td>{{ object.librenms_speed|default_if_none:"—" }}</td>
            <td>{{ object.get_netbox_type_display|placeholder }}</td>
            <td>{{ object.description|default:"—" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
